body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body + .swiper {
	width: 100vw;
	height: 100vh;
	background: grey;
}

.slider-image {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.navigation {
	width: 50vw;
	height: 150vh;
	background: #1d1d1d;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	top: -20%;
	left: -20%;
	transform: rotate(-20deg);
	transition: all 0.3s linear;
	z-index: 2;
	display: flex;
	box-sizing: content-box;
}

.orange-line {
	width: 100px;
	height: 150vh;
	background: #e75d03f2;
	position: relative;
	left: 100%;
}

.description {
	color: white;
	font-size: 24px;
	width: 80%;
}

.info {
	width: 100vw;
	height: 20%;
	background-color: #1d1d1d;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.95;
	transition: all 0.3s linear;
	z-index: 1;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
}

.info__container {
	width: 50%;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 120px;
	flex-shrink: 0;
}

.thumbsSlider {
	position: relative;
	top: 50%;
	transform: translateY(-50%) rotate(20deg);
	width: 60%;
	margin-right: 0;
	height: 80vh;
}

.thumbsSlider .swiper-wrapper {
	align-items: center;
}

.thumbsSlider .swiper-slide {
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
}

.thumbsSlider .swiper-slide img {
	width: 100%;
}

.thumbsSlider .swiper-slide-active {
	transform: scale(1.3);
}

.thumbsSlider .swiper-slide-prev {
	transform: translateX(-30%);
	opacity: 0.5;
}

.thumbsSlider .swiper-slide-next {
	transform: translateX(30%);
	opacity: 0.5;
}

.thumbsSlider .swiper-slide-before-prev {
	transform: translateX(-60%);
}

.thumbsSlider .swiper-slide-after-next {
	transform: translateX(60%);
}

.swiper-button-next, .swiper-button-prev {
	position: absolute;
	width: 50px;
	height: 50px;
  /* left: 50%; */
  color: #e75d03f2

}

.thumbs-button-next {
  bottom: 0;
}

